@import 'mixins.scss';
@import 'vars.scss';

.input {
    input {
        @include adapt-box-width(100px, 360px);
        @include adapt-box-height(20px, 45px);
        
        border: none;
        outline: none;
    
        background-color: $input-color;
        border-radius: 11px;
    
        margin-top: 10px;
        margin-bottom: 10px;
    
        color: #fff;
    
        padding-left: 10px;
        font-size: 15px;
        
        font-family: "PT Mono", serif;
    
        &::placeholder {
            font-size: 15px;
            color: #fff;
        }
    
    }
}

.button {
    cursor: pointer;


    @include adapt-box-width(100px, 360px);
    @include adapt-box-height(20px, 45px);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    svg {
        @include adapt-box-width(16px, 30px);
        @include adapt-box-height(16px, 30px);
    }
    
    transition: all 0.5s ease;
}