@use '../../../shared/style/mixins.scss';
@use '../../../shared/style/vars.scss';

.auth-form {
    @include mixins.adapt-box-width(200px, 621px);
    @include mixins.adapt-box-height(200px, 621px);
    
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: vars.$component-color;

}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 10px;

    .button {
        
    }

}

.heading {
    color: vars.$turquoise;
    @include mixins.adapt-text(10px, 30px);
    margin-top: 10px;
}

.Outh {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    gap: 10px;
    @include mixins.adapt-box-width(100px, 360px);
    
}

.border-green {
    border: 3px solid vars.$green;
    box-shadow: 0px 0px 16px vars.$green;
}

.border-turquoise {
    border: 3px solid vars.$turquoise;
    box-shadow: 0px 0px 16px vars.$turquoise;
}